---
layout: default
---

<div class="home">
  {% for post in site.posts limit:1 %}
    <div class="post postContent">
      <div class="post-header">
        <div class="postDate">
          <time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">
            {{ post.date | date: "%b %-d, %Y" }}
          </time>
        </div>
        <br>
        <center>
        <div class="postTitle">
          <a class='postLink' href="{{site.baseurl}}{{post.url}}">{{post.title}}</a>
        </div>
      </center>
      </div>
      <div class="post-content">
        {{ post.content }}
      </div>
    </div>
    <div class="issue-navigation">
      {% if post.previous.url %}
        <a class="prev" href="{{post.previous.url}}">
          <div class="previous-issue button">
            &lt; Previous Issue
          </div>
        </a>
      {% endif %}
    </div>
  {% endfor %}
</div>
