---
layout: default
---
<article class="post postContent" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="post-header">
    <div class="postDate">
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {{ page.date | date: "%b %-d, %Y" }}
      </time>
    </div>
    <br>
    <center>
      <div class="postTitle">
        <a class='postLink' href="{{site.baseurl}}{{post.url}}">{{page.title}}</a>
      </div>
    </center>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>
    
  <div class="shares">
    <h2>Share this Issue</h2>
    <a target="_blank" href="http://www.facebook.com/sharer/sharer.php?u={{site.url | url_encode}}{{page.url | url_encode}}">Facebook</a>
    <a target="_blank" href="https://twitter.com/intent/tweet?original_referer={{site.url | url_encode}}{{page.url | url_encode}}&text={{site.title | url_encode}}%20{{page.title | url_encode}}&url={{site.url | url_encode}}{{page.url | url_encode}}">Twitter</a>
    <a target="_blank" href="https://www.linkedin.com/shareArticle?url={{site.url | url_encode}}{{page.url | url_encode}}">LinkedIn</a>
  </div>

  <div class="issue-navigation">
    {% if page.previous.url %}
      <a href="{{page.previous.url}}">
        <div class="button">
          &lt; Previous Issue
        </div>
      </a>
    {% endif %}
    {% if page.next.url %}
      <a href="{{page.next.url}}">
        <div class="button">
          Next Issue &gt;
        </div>
      </a>
    {% endif %}
  </div>
</article>
