---
layout: default
---
<article class="post postContent" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="post-header">
    <div class="postDate">
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {{ page.date | date: "%b %-d, %Y" }}
      </time>
    </div>
    <br>
    <center>
      <div class="postTitle">
        <a class='postLink' href="{{site.baseurl}}{{post.url}}">{{page.title}}</a>
      </div>
    </center>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

</article>
